header 
{  background-color: white;
   display: flex;
   gap: 20px;}

   .logo {
    width: 200px;
 }
 .navbar {
    display: flex;
    align-items: center;
    
}

.navbar-brand {
    color: white;
}